/* Global layout adjustments */

body {
   background-color: #eee
}

body div.container {
   max-width: 750px;
   background-color: #fefefe;
   box-shadow: 0 0 15px rgba(0, 0, 0, .3);
   padding-left: 3em;
   padding-right: 3em;
   padding-bottom: 2em;
}


/* Navigation bar */

.navbar {
   box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
   background-color: #4D4F4B;
   background-image: none;
   margin-bottom: 0;
}

.navbar a.navbar-brand {
   color: #fff;
}

.navbar a.navbar-brand:hover {
   color: #fff;
}

.navbar p.navbar-text {
   color: #eee;
}

.navbar li.dropdown a.dropdown-toggle {
   color: #fff
}

.navbar a.navbar-brand .fa {
   margin-right: .2em
}

.navbar #cse-text {
  width: 300px;
}
.navbar .tt-hint {
  width: 300px;
}


/* Button toolbars */

.bottom-toolbar {
   margin-top: 1em;
}

.top-toolbar {
   margin-top: 2.5em;
}


/* Footer */

#footer .container {
   padding-top: 1.5em;
   padding-bottom:1em;
   background-color: #F2F2F2;
   border-top: 1px solid #E3E3E3;
   text-align: center;
   box-shadow: 0 -20px 0px 0px white, 0 0 15px rgba(0, 0, 0, .3);
}


/* Font and whitespace adjustments */

div.page-header h1 {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
   font-weight: 300;
   line-height: 1.1;
   font-size: 32px;
   margin-bottom: 0;
}

ul p {
   margin-bottom: 0.3em;
   margin-top: 0.3em;
}

ol ul {
   margin-bottom: 10px;
}

blockquote {
   font-size: 14px;
}


/* Code boxes */

.code-controls button, .code-settings button, .code-settings select {
   font-family: Helvetica;
}

.code-controls button, .code-settings button {
   padding: 4px;
}

button.reset {
   float: right
}

/* li code { */
/*    border-radius: 3px; */
/*    padding: 1px 3px 1px 3px; */
/*    background-color: rgba(0,0,0,0.04); */
/* } */

.code-controls {
   position: absolute;
   bottom: 0; 
   right: 0;
   opacity: 0;
   z-index: 1000
}

.code-settings {
   z-index: 999;
   position: absolute;
   top: 0;
   right: 0;
   font-size: 12px;
   list-style-type: none;
   margin: 2px
}

.code-settings li {
   display: none;
}

.code-settings .settings-icon {
   display: inline;
   opacity: 0.3; 
}

.code-settings:hover li {
   opacity: 1.0;
   display: inline
}

.CodeMirror:hover .code-controls, .CodeMirror-focused .code-controls {
   opacity: 1
}

div.results {
   margin-bottom: 2em;
}

div.results pre {
  background-color: #fff;
  border: none;
  font-size: 12px;
}

div.results svg.chart {
   padding-left: 5em;
}


/* List of models on index page */

.glyph-label span {
   margin-left: -.2em;
   margin-right: -.2em;
}

div.tolltip-inner {
    max-width: 350px;
}


/* Contributors */

img.avatar {
   margin: 1px;
   vertical-align: middle;
   border-radius: 2px;
   background-color: #fff;
}
