ul p {
   margin-bottom: 0.3em;
   margin-top: 0.3em;
}

body div.container {
   max-width: 750px;
}

.navbar {
   margin-bottom: 0;
}

div.page-header h1 {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
   font-weight: 300;
   line-height: 1.1;
   font-size: 32px;
   margin-bottom: 0;
}

body div.container {
   background-color: #fefefe;
   box-shadow: 0 0 15px rgba(0, 0, 0, .3);
   padding-left: 3em;
   padding-right: 3em;
   padding-bottom: 2em;
}

body {
   background-color: #eee
}

.navbar {
   box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
   background-color: #555;
   background-image: none;
}

.navbar a.navbar-brand {
   color: #fff;
}

.navbar a.navbar-brand:hover {
   color: #fff;
}

.navbar p.navbar-text {
   color: #eee;
}

.navbar li.dropdown a.dropdown-toggle {
   color: #fff
}