<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/typeahead-bs3.css">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/typeahead.js/0.10.1/typeahead.bundle.js"></script>
    <script src="/assets/js/custom.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
    var model_names = [
      {% for p in site.pages %}{% if p.layout == 'model' %}{% if p.model-status != 'stub' %}'{{ p.title }}',{% endif %}{% endif %}{% endfor %}
    ];
    var model_urls = [
      {% for p in site.pages %}{% if p.layout == 'model' %}{% if p.model-status != 'stub' %}'{{ p.url }}',{% endif %}{% endif %}{% endfor %}
    ];
    </script>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-search-right">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fa fa-leaf"></i> Forest</a>
          <p class="navbar-text navbar-collapse collapse">a repository for generative models</p>
        </div>

        <div class="navbar-collapse collapse" id="navbar-search-right">    

          <form id="cse-search-box" action="http://google.com/cse" class="navbar-form navbar-right" role="search">
            <input type="hidden" name="cx" value="008887621561404558934:lqvspjvj53s" />
            <input type="hidden" name="ie" value="UTF-8" />
            <div class="form-group">
              <input type="text" name="q" id="cse-text" class="form-control" placeholder="Search" autocomplete="off" />
            </div>
            <button type="submit" class="btn btn-default" name="sa" value="Search">Go</button>
          </form>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>

    <div class="container">

    {{ content }}

    </div><!-- /.container -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">View this page <a id="github-page-link" href="#">on GitHub</a>. Send <a href="mailto:ast@mit.edu">comments</a>.</p>
      </div>
    </div>

    <script type="text/javascript">
      $("#github-page-link").attr("href", github_page_url("{{ page.url }}"))
    </script>

  </body>
</html>
