<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="8JUnlNVWBcK7xNOPb-39lUtYPRPqj7t8QxvdCpkhjXw" />

    <title>{{ page.title }}{% if page.isindex %}{% else %} - Forest{% endif %}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/typeahead-bs3.css">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/typeahead.js/0.10.1/typeahead.bundle.js"></script>
    <script src="/assets/js/custom.js"></script>

    {% if page.model-language == 'webppl' %}
      {% if page.model-language-version == 'pre-v0.7' %}    
        <link rel="stylesheet" href="/assets/dippl-pre-v0.7/node_modules/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="/assets/dippl-pre-v0.7/node_modules/codemirror/theme/neat.css">
        <link rel="stylesheet" href="/assets/dippl-pre-v0.7/assets/css/code.css">
        <script src="/assets/dippl-pre-v0.7/bower_components/jquery-autosize/jquery.autosize.min.js"></script>
        <script src="/assets/dippl-pre-v0.7/node_modules/codemirror/lib/codemirror.js"></script>
        <script src="/assets/dippl-pre-v0.7/bower_components/d3/d3.min.js"></script>
        <script src="/assets/dippl-pre-v0.7/bower_components/dimple/dist/dimple.v2.1.0.js"></script>
        <script src="/assets/dippl-pre-v0.7/bower_components/underscore/underscore.js"></script>
        <script src="/assets/dippl-pre-v0.7/node_modules/codemirror/mode/javascript/javascript.js"></script>
        <script src="/assets/dippl-pre-v0.7/assets/js/webppl.min.js"></script>
        <script src="/assets/dippl-pre-v0.7/assets/js/custom.js"></script>
        <script src="/assets/dippl-pre-v0.7/assets/js/cm-folding.js"></script>
        <script src="/assets/dippl-pre-v0.7/assets/js/cm-comments.js"></script>
      {% else %}
        {% if page.model-language-version %}
          <script src="http://cdn.webppl.org/webppl-{{ page.model-language-version }}.js"></script>
        {% else %}
          <script>console.log('No webppl version specified, defaulting to v0.9.11')</script>
          <script src="http://cdn.webppl.org/webppl-v0.9.13.js"></script>          
        {% endif %}
        <script src="http://cdn.webppl.org/webppl-viz-0.7.11.js"></script>
        <link rel="stylesheet" href="http://cdn.webppl.org/webppl-viz-0.7.11.css">
        <script src="http://cdn.webppl.org/webppl-editor-1.0.9.js"></script>
        <link rel="stylesheet" href="http://cdn.webppl.org/webppl-editor-1.0.9.css">
        <script>
          function setupEditorBoxes() {
            var preEls = $('.container pre').map(function(i, el) { wpEditor.setup(el, {language: 'webppl'}); });
          };
          $(setupEditorBoxes);
        </script>
      {% endif %}
    {% elsif page.model-language == 'church' %}
      <link rel="stylesheet" href="/assets/webchurch/css/codemirror.css">
      <link rel="stylesheet" href="/assets/webchurch/css/d3.css">
      <script src="/assets/webchurch/webchurch.js"></script>
      <script src="/assets/webchurch/d3.min.js"></script>
      <script src="/assets/webchurch/vega.min.js"></script>
      <script src="/assets/js/load-church.js"></script>
    {% else %}
      {% if page.isindex %}{% else %}
        <script>
          console.log('no known model-language specified (got {{ page.model-language }})')
        </script>
      {% endif %}
    {% endif %}

    <script src="/assets/js/parse-bibtex.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
    var model_names = [
      {% for p in site.pages %}{% if p.layout == 'model' %}{% if p.model-category %}{% if p.model-status != 'stub' %}'{{ p.title }}',{% endif %}{% endif %}{% endif %}{% endfor %}
    ];
    var model_urls = [
      {% for p in site.pages %}{% if p.layout == 'model' %}{% if p.model-category %}{% if p.model-status != 'stub' %}'{{ p.url }}',{% endif %}{% endif %}{% endif %}{% endfor %}
    ];
    </script>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-search-right">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fa fa-leaf"></i> Forest</a>
          <p class="navbar-text navbar-collapse collapse">a repository for generative models</p>
        </div>

        <div class="navbar-collapse collapse" id="navbar-search-right">

          <form id="cse-search-box" action="http://google.com/cse" class="navbar-form navbar-right" role="search">
            <input type="hidden" name="cx" value="008887621561404558934:lqvspjvj53s" />
            <input type="hidden" name="ie" value="UTF-8" />
            <div class="form-group">
              <input type="text" name="q" id="cse-text" class="form-control" placeholder="Search" autocomplete="off" />
            </div>
            <button type="submit" class="btn btn-default" name="sa" value="Search">Go</button>
          </form>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>

    <div class="container">

    {{ content }}

    </div><!-- /.container -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">
           This page has been edited by <span id="contributors"></span>.
           View <a id="github-page-link" href="https://github.com/forestdb/forestdb.org/blob/gh-pages/{{ page.path }}">on GitHub</a>.
        </p>
      </div>
    </div>

  </body>
</html>
