<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <base href="/">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Forest</a>
          <p class="navbar-text">a repository for generative models</p>
        </div>

        <div class="navbar-collapse collapse">    

          <form id="cse-search-box" action="http://google.com/cse" class="navbar-form navbar-right" role="search">
            <input type="hidden" name="cx" value="008887621561404558934:lqvspjvj53s" />
            <input type="hidden" name="ie" value="UTF-8" />
            <div class="form-group">
              <input type="text" name="q" class="form-control" placeholder="Search" data-provide="typeahead" autocomplete="off" />
            </div>
            <button type="submit" class="btn btn-default" name="sa" value="Search">Go</button>
          </form>

          {% comment %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Models <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for p in site.pages %}
                  {% if p.layout == 'model' %}
                    {% if p.model-status != 'stub' %}
                      <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
          {% endcomment %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>

    <div class="container">

    {{ content }}

    </div><!-- /.container -->

  </body>
</html>
